Dental/Connected Services/DentalReference/DentalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPacjent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pacjent" nillable="true" type="tns:Pacjent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacjent" nillable="true" type="tns:ArrayOfPacjent" />
  <xs:complexType name="Pacjent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Haslo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nazwisko" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PESEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacjentAdres" nillable="true" type="tns:Adres" />
      <xs:element minOccurs="0" name="PacjentID" type="xs:int" />
      <xs:element minOccurs="0" name="PowtorzHaslo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" type="xs:int" />
      <xs:element minOccurs="0" name="Typ" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pacjent" nillable="true" type="tns:Pacjent" />
  <xs:complexType name="Adres">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdresID" type="xs:int" />
      <xs:element minOccurs="0" name="AdresPacjent" nillable="true" type="tns:Pacjent" />
      <xs:element minOccurs="0" name="Kod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Miasto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ulica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wojewodztwo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adres" nillable="true" type="tns:Adres" />
  <xs:complexType name="ArrayOfAdres">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Adres" nillable="true" type="tns:Adres" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdres" nillable="true" type="tns:ArrayOfAdres" />
</xs:schema>