Dental/Connected Services/ServiceReference/WebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50846/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL.Model" />
  <xs:element name="GetPacjentList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacjentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL.Model" minOccurs="0" name="GetPacjentListResult" nillable="true" type="q1:ArrayOfPacjent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacjentByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacjentByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DAL.Model" minOccurs="0" name="GetPacjentByIDResult" nillable="true" type="q2:Pacjent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PacjentInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DAL.Model" minOccurs="0" name="pacjent" nillable="true" type="q3:Pacjent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PacjentInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PacjentUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DAL.Model" minOccurs="0" name="pacjent" nillable="true" type="q4:Pacjent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PacjentUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PacjentDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PacjentDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>