Dental/Connected Services/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50846/WebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50846/WebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50846/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetPacjentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPacjentList" />
  </wsdl:message>
  <wsdl:message name="IService_GetPacjentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPacjentListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPacjentByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPacjentByID" />
  </wsdl:message>
  <wsdl:message name="IService_GetPacjentByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPacjentByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PacjentInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:PacjentInsert" />
  </wsdl:message>
  <wsdl:message name="IService_PacjentInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:PacjentInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PacjentUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:PacjentUpdate" />
  </wsdl:message>
  <wsdl:message name="IService_PacjentUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PacjentUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PacjentDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:PacjentDelete" />
  </wsdl:message>
  <wsdl:message name="IService_PacjentDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:PacjentDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetPacjentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPacjentList" message="tns:IService_GetPacjentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPacjentListResponse" message="tns:IService_GetPacjentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPacjentByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPacjentByID" message="tns:IService_GetPacjentByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPacjentByIDResponse" message="tns:IService_GetPacjentByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PacjentInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PacjentInsert" message="tns:IService_PacjentInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PacjentInsertResponse" message="tns:IService_PacjentInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PacjentUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PacjentUpdate" message="tns:IService_PacjentUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PacjentUpdateResponse" message="tns:IService_PacjentUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PacjentDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PacjentDelete" message="tns:IService_PacjentDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PacjentDeleteResponse" message="tns:IService_PacjentDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPacjentList">
      <soap:operation soapAction="http://tempuri.org/IService/GetPacjentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacjentByID">
      <soap:operation soapAction="http://tempuri.org/IService/GetPacjentByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PacjentInsert">
      <soap:operation soapAction="http://tempuri.org/IService/PacjentInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PacjentUpdate">
      <soap:operation soapAction="http://tempuri.org/IService/PacjentUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PacjentDelete">
      <soap:operation soapAction="http://tempuri.org/IService/PacjentDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:50846/WebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>